*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
!gradle/wrapper/gradle-wrapper.jar
*.log
*.apk
*.aab

# Miscellaneous
*.class
*.jar
*.lib
*.swp
*.swo
*~
app/build/
